body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(177, 19, 19);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: rgb(177, 19, 19);
}

.login-container a {
    color: rgb(177, 19, 19);
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

h2 {
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust spacing */
}

h2 select {
    font-size: 1rem;
    padding: 5px;
}

