body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.logo-container {
    width: 100%;
    height: 130px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 130px;
    width: 100%; /* Maintain aspect ratio */
    object-fit: cover;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f1efef;
    border-top: 1px solid #f1eeee;
}

.admin-info {
    display: flex;
    gap: 10px;
    font-size: 15px;
}

 .actions {
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: rgb(177, 19, 19);
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(177, 19, 19);
} 

/* Navbar Styles */
.navbar {
    background-color: rgb(177, 19, 19);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    position: relative; 
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: rgb(139, 135, 135);
}

/* Dropdown Menu Styles */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

/* Style for dropdown links */
.dropdown-content a {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #575757;
}